@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var username = "amillerman01";
    DateTime today = new DateTime();
    <h2>somehtml</h2>
}

<div class="text-center">
    <h1 class="display-4">My first web application!</h1>
    <p>
        The date and time right now STATICALLY is <strong>5/17/2022 1:30:50 PM</strong>
    </p>
    <p>
        The date and time right now DYNAMICALLY is <strong>@DateTime.Now</strong>
    </p>
    <p>
        The date and time right now at the prime meridian DYNAMICALLY <strong>@DateTime.UtcNow</strong>
    </p>
    <p>
        The username is @username
        email me at amillerman01@@stclaircollege.ca
    </p>
    <p>
    <h3>Documentation</h3>
    in order to display the razor syntax @@username, we need to use 2 at symbols
    </p>
    <p>
    <h3>Special characters in html</h3>
    &amp;<br>
    &copy;<br>
    word 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;word 2<br>
    word 1 word 2
    </p>
    <p>
    <h3>Using the date object</h3>
    <p>The current date is: @DateTime.Now</p>
        @* Example of using a ternary operator *@
        @* <p>is 2050 a leap year? The server says: @( condition ? valueIfItIsTrue : valueIfItIsFalse)</p> *@
    <p>is 2050 a leap year? The server says: <strong>@(DateTime.IsLeapYear(2050) ? "Yes" : "No")</strong></p>
    <p>The date a week ago is @(DateTime.Now - TimeSpan.FromDays(7))</p>
    <p>The date a week from now is @(DateTime.Now + TimeSpan.FromDays(7))</p>
    </p>
</div>
