@page
@model RazorPagesChessPlayersExample.Pages_ChessPlayers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChessPlayer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ChessPlayer.FullName)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.ChessPlayer.FullName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ChessPlayer.DateOfTitleAcquisition)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.ChessPlayer.DateOfTitleAcquisition)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ChessPlayer.CurrentTitle)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.ChessPlayer.CurrentTitle)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ChessPlayer.CurrentRating)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.ChessPlayer.CurrentRating)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ChessPlayer.NumberOfTournamentVictories)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.ChessPlayer.NumberOfTournamentVictories)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="ChessPlayer.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
